<% unless @requests.empty? %>
  <h2>Requests</h2>
  <table>
  <tr>
    <td>Name</td>
    <td>Location</td>
    <td>Created</td>
    <td>Status</td>
  </tr>
  <% @requests.each do |request| %>
    <% request.principal.schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.location%></td>
        <td><%= request.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= request.status %> by <%= request.principal.full_name %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
<br>
<footer>
  <%= link_to 'Request to Join a School', new_request_path unless current_user.admin %>
</footer>
