<% unless @requests.empty? || @requests.nil? %>
  <h2>Requests</h2>

  <table>
    <thead
      <tr>
        <th>Teacher</th>
        <th>Email</th>
        <th>Last Modified</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
  <% @requests.order(:updated_at).each do |request| %>
    <tbody>
      <tr>
        <td><%= request.teacher.full_name %></td>
        <td><%= request.teacher.email %></td>
        <td><%= request.updated_at.strftime("%m/%d/%Y") %></td>
        <td><%= request.status %></td>
        <td><%= link_to 'Respond', edit_admin_request_path(request) %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
<% end %>
