<h1>Create a New Class</h1>

<%= simple_form_for @course do |f| %>


  <div class="row">
    <div class="medium-5 columns">
      <%= f.input :subject%>
    </div>
    <div class="medium-4 columns">
      <%= f.input :end_date, label: "End", input_html: {class: "medium-3 columns spacer"} %>
    </div>
    <div class="medium-3 columns">
      <%= f.input :rows, label: "Rows in Classroom"%>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <%= f.input :school_year, label: "School Year" %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :period %>
    </div>
    <div class="medium-4 columns">
      <%= f.input :start_date, label: "Start", input_html: {class: "medium-3 columns spacer"}%>
    </div>
    <div class="medium-3 columns">
      <%= f.input :columns, label: "Students Per Row" %>
    </div>
  </div>



<footer>
  <%= f.button :submit, "Create" %>
<% end %>
  <p><%= link_to 'Back', root_path %></p>
</footer>
