<div class="sticky">
<nav class="top-bar" data-topbar data-options="is_hover: false">

  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <% if !user_signed_in? %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% else %>
        <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
    <ul class="left">
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <li class="has-dropdown" ><%= link_to 'Students', students_path %>
          <ul class="dropdown">
            <li><%= link_to 'View Students', students_path %></li>
            <li><%= link_to 'Add Students', new_student_path %></li>
          </ul>
        </li>
        <li class="has-dropdown"><%= link_to 'Classes', courses_path %>
          <ul class="dropdown">
            <li><%= link_to 'Classes', courses_path %></li>
            <li><%= link_to 'New Class', new_course_path %></li>
          </ul>
        </li>
      <% end %>
    </ul>


  </section>
</nav>
</div>
